.list__portfolio-link {
  transition-property: box-shadow;
  @include cubic-bezier;
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.title-list {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin-left: -1;
}
.portfolio-container {
  width: 1200px;
  margin: 0 auto;
}
.card-section.section {
  padding-top: 0;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.list__item {
  width: calc((100% - 60px) / 3);
  background: $portfolio-section-bg;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
  max-width: 370px;
}
.list__container-overlay {
  position: relative;
  overflow: hidden;
}
.list__overlay {
  background: $overlay-bg;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translatey(102%);
  transition: transform 250ms ease;
}
.list__portfolio-link {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  padding-bottom: 20px;
  &:focus .list__overlay,
  &:hover .list__overlay {
    transform: translatey(0);
  }
}
.list__overlay-title {
  @include font(400, 18px, 1.6, 0.03em);
  font-weight: normal;
  color: $primary-white-color;
  margin: auto 24px;
}
.list__img {
  border-style: none;
  width: 100%;
  display: block;
  height: auto;
}
.list__portfolio-title {
  @include font(700, 18px, 2, 0.06em);
  color: $title-text-color;
  margin-top: 20px;
  margin-left: 24px;
}
.list__portfolio-title-text {
  @include font(400, 16px, 1.8, 0.03em);
  color: $primary-text-color;
  margin-top: 4px;
  margin-left: 24px;
}
