.container.what-we-do-container {
  padding: 0 15px;
}
.what-we-do {
  display: flex;
  margin-top: 50px;
}
.wat-we-do__li {
  position: relative;
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
}
.what-we-do__content {
  width: 100%;
  height: 70px;
  background-color: $background-what-we-do;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
.what-we-do__list-title {
  @include font(700, 14px, 1.15, 0.03em);
  text-transform: uppercase;
  color: $primary-white-color;
}

.what-we-do__img {
  display: block;
}

.add-style-title {
  @include font(700, 36px, 1.16, 0.03em);
  text-align: center;
  color: $title-text-color;
}
