$accent-color: #2196f3;
$title-text-color: #212121;
$primary-text-color: #757575;
$primary-white-color: #ffffff;
$color-portfolio-button: #f5f4fa;
$color-hero-end-footer: #2f303a;
$bg-hover-button: #188ce8;
$team-icon-color: #afb1b8;
$overlay-bg: rgba(33, 150, 243, 0.9);
$background-what-we-do: rgba(47, 48, 58, 0.8);
$team-section-color: #f5f4fa;
$footer-color: #2f303a;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$portfolio-section-bg: #ffffff;
$modal-form-bg: #ffffff;

// @mixin cubic-bezier {
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

// @mixin font($fw, $fs, $lh, $ls) {
//   font-weight: $fw;
//   font-size: $fs;
//   line-height: $lh;
//   letter-spacing: $ls;
// }
